<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link media="all" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container" style="display: flex; justify-content: center; align-items: center; height: 100vh">
    <div>
        <h1>Oops! </h1>
        <h3>404 Page not found.</h3>
        <a href="/home">Go to HomePage</a>
    </div>
</div>
<script th:src="@{/js/jquery-slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
